*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.guesses{
  width: 100%;
}

.words{
  display: flex;
  width: 100%;
  justify-content: center;
}

.letter{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  width: 50px;
  height: 60px;
  color: #2b2b2b;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 5px;
}

.lettergrey{
  background: #e4e4e4;
}

.lettergreen{
  background: #32cf79;
}

.letteryellow{
  background: #F3A712;
}

.letterred{
  background: #9b9b9b;
}

.keyboard{
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.keyRow{
  display: flex;
  width: 100%;
  justify-content:center;
}

.keyboardKey{
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  min-width: 55px;
  height: 50px;
  color: #2b2b2b;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.3em;
  cursor: pointer;
}

.keyboardKey:hover{
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.300);
}

.keyboardKeygrey{
  background: #e4e4e4;
}

.keyboardKeyyellow{
  background: #F3A712;
}

.keyboardKeygreen{
  background: #32cf79;
}

.keyboardKeyred{
  background: #9b9b9b;
}